In [1]:
import pandas as pd
import ast
import numpy as np
import matplotlib.pyplot as plt
import json
import seaborn as sns

# Import and combine data

## FFA HillClimber run 1

In [2]:
ffahc_results1 = pd.read_csv('ffahc_1000000_evals_cor.csv', sep=';', index_col=False)
ffahc_results1.head()

,instance_id,least_frequent_solution,least_frequent_makespan,best_solution,best_makespan,convergence,search_progression
0,0,"[0, 4, 4, 0, 3, 2, 2, 1, 1, 0, 0, 4, 4, 3, 3, ...",113,"[2, 3, 1, 1, 1, 0, 0, 0, 4, 4, 2, 1, 3, 2, 4, ...",48,"[65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 6...","[65, 65, 65, 74, 77, 83, 83, 83, 79, 71, 71, 6..."
1,1,"[1, 1, 2, 2, 4, 0, 3, 3, 4, 3, 0, 3, 3, 2, 1, ...",52,"[3, 1, 2, 0, 2, 4, 1, 4, 2, 3, 1, 3, 2, 0, 4, ...",48,"[61, 61, 61, 61, 60, 60, 60, 60, 60, 60, 60, 6...","[61, 61, 67, 62, 60, 60, 60, 60, 63, 63, 63, 6..."
2,2,"[0, 0, 3, 1, 1, 4, 4, 4, 1, 1, 0, 4, 4, 4, 4, ...",187,"[1, 0, 4, 1, 1, 2, 0, 3, 4, 2, 0, 3, 3, 0, 2, ...",52,"[73, 64, 64, 64, 58, 58, 58, 58, 58, 58, 58, 5...","[73, 64, 70, 70, 58, 58, 67, 67, 69, 69, 69, 6..."
3,3,"[1, 1, 1, 2, 1, 1, 2, 1, 2, 4, 4, 2, 4, 1, 2, ...",144,"[1, 2, 3, 2, 0, 4, 2, 4, 4, 1, 2, 3, 1, 1, 3, ...",54,"[83, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 7...","[83, 71, 88, 82, 80, 80, 82, 82, 82, 82, 83, 8..."
4,4,"[3, 3, 0, 3, 0, 0, 0, 2, 0, 4, 0, 3, 0, 0, 1, ...",219,"[0, 3, 1, 1, 1, 0, 2, 3, 0, 2, 2, 1, 2, 0, 4, ...",61,"[97, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 8...","[97, 82, 82, 119, 119, 129, 122, 122, 129, 112..."

### Strings to lists

In [3]:
def custom_literal_eval(x):
    try:
        return json.loads(x)
    except (json.JSONDecodeError, TypeError):
        return x

In [4]:
ffahc_results1['best_solution'] = ffahc_results1['best_solution'].apply(custom_literal_eval)
ffahc_results1['convergence'] = ffahc_results1['convergence'].apply(custom_literal_eval)

In [7]:
ffahc_results1['best_makespan_4'] = ffahc_results1['convergence'].apply(lambda x: x[9999])
ffahc_results1['best_makespan_5'] = ffahc_results1['convergence'].apply(lambda x: x[99999])
ffahc_results1['best_makespan_250'] = ffahc_results1['convergence'].apply(lambda x: x[249999])
ffahc_results1['best_makespan_500'] = ffahc_results1['convergence'].apply(lambda x: x[499999])
ffahc_results1['best_makespan_750'] = ffahc_results1['convergence'].apply(lambda x: x[749999])

## FFA HillClimber run 2

In [9]:
ffahc_results2 = pd.read_csv('ffahc_1000000_evals_cor2.csv', sep=';', index_col=False)
ffahc_results2.head()

,instance_id,least_frequent_solution,least_frequent_makespan,best_solution,best_makespan,convergence,search_progression
0,0,"[2, 2, 2, 4, 4, 3, 4, 0, 1, 0, 3, 1, 0, 1, 4, ...",91,"[2, 1, 4, 1, 1, 1, 3, 4, 2, 3, 0, 3, 2, 2, 3, ...",48,"[52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 5...","[52, 52, 52, 58, 70, 64, 53, 53, 53, 53, 53, 5..."
1,1,"[1, 0, 0, 0, 1, 2, 1, 4, 4, 4, 1, 3, 3, 3, 3, ...",155,"[2, 1, 4, 0, 4, 2, 1, 3, 3, 3, 4, 4, 0, 2, 1, ...",48,"[80, 78, 71, 71, 62, 62, 62, 62, 58, 52, 52, 5...","[80, 78, 71, 71, 62, 62, 62, 66, 58, 52, 52, 5..."
2,2,"[0, 0, 1, 0, 1, 1, 4, 4, 4, 3, 4, 4, 1, 1, 3, ...",157,"[3, 2, 4, 3, 1, 4, 0, 2, 0, 0, 1, 1, 0, 2, 0, ...",52,"[84, 84, 84, 84, 84, 84, 84, 84, 70, 70, 70, 6...","[84, 84, 99, 95, 92, 92, 92, 95, 70, 70, 70, 6..."
3,3,"[3, 2, 0, 3, 0, 4, 1, 2, 1, 1, 3, 0, 3, 4, 2, ...",78,"[0, 2, 4, 1, 4, 2, 2, 1, 3, 2, 1, 3, 4, 3, 3, ...",54,"[99, 99, 99, 88, 84, 84, 84, 84, 84, 84, 84, 8...","[99, 103, 103, 88, 84, 84, 84, 84, 87, 87, 87,..."
4,4,"[0, 2, 2, 2, 3, 4, 4, 1, 2, 2, 3, 0, 4, 3, 1, ...",100,"[1, 0, 1, 1, 3, 4, 2, 2, 2, 1, 0, 0, 0, 1, 1, ...",61,"[116, 115, 115, 115, 115, 115, 115, 113, 113, ...","[116, 115, 115, 115, 115, 115, 115, 113, 113, ..."

In [10]:
ffahc_results2['best_solution'] = ffahc_results2['best_solution'].apply(custom_literal_eval)
ffahc_results2['convergence'] = ffahc_results2['convergence'].apply(custom_literal_eval)

In [11]:
ffahc_results2['best_makespan_4'] = ffahc_results2['convergence'].apply(lambda x: x[9999])
ffahc_results2['best_makespan_5'] = ffahc_results2['convergence'].apply(lambda x: x[99999])
ffahc_results2['best_makespan_250'] = ffahc_results2['convergence'].apply(lambda x: x[249999])
ffahc_results2['best_makespan_500'] = ffahc_results2['convergence'].apply(lambda x: x[499999])
ffahc_results2['best_makespan_750'] = ffahc_results2['convergence'].apply(lambda x: x[749999])

## FFA HillClimber run 3

In [12]:
ffahc_results3 = pd.read_csv('ffahc_1000000_evals_cor3.csv', sep=';', index_col=False)
ffahc_results3.head()

,instance_id,least_frequent_solution,least_frequent_makespan,best_solution,best_makespan,convergence,search_progression
0,0,"[0, 1, 1, 4, 0, 3, 3, 2, 4, 0, 4, 2, 0, 3, 3, ...",91,"[1, 1, 2, 2, 0, 3, 2, 1, 3, 4, 4, 0, 1, 3, 2, ...",48,"[60, 60, 60, 60, 60, 60, 60, 55, 55, 55, 55, 5...","[60, 60, 64, 64, 64, 64, 64, 55, 55, 55, 55, 5..."
1,1,"[1, 2, 0, 0, 0, 3, 3, 1, 1, 1, 3, 4, 1, 0, 4, ...",122,"[4, 2, 4, 1, 0, 3, 1, 2, 2, 3, 4, 1, 1, 4, 2, ...",48,"[98, 93, 93, 75, 75, 75, 72, 72, 72, 72, 64, 6...","[98, 93, 93, 75, 75, 75, 72, 72, 85, 85, 64, 6..."
2,2,"[0, 2, 0, 1, 1, 4, 4, 4, 4, 4, 0, 4, 2, 3, 2, ...",160,"[1, 4, 3, 1, 2, 1, 0, 4, 2, 0, 3, 0, 2, 4, 0, ...",52,"[69, 69, 69, 69, 69, 69, 69, 69, 65, 65, 65, 6...","[69, 69, 75, 75, 82, 82, 82, 70, 65, 65, 67, 9..."
3,3,"[2, 3, 2, 4, 1, 0, 3, 3, 3, 1, 0, 0, 0, 4, 4, ...",87,"[3, 0, 1, 2, 2, 4, 3, 2, 4, 3, 2, 4, 4, 2, 1, ...",54,"[77, 77, 77, 77, 77, 69, 69, 69, 69, 69, 69, 6...","[77, 77, 77, 78, 79, 69, 73, 73, 73, 73, 76, 6..."
4,4,"[0, 0, 1, 2, 1, 1, 2, 4, 2, 4, 3, 1, 4, 2, 3, ...",97,"[2, 3, 1, 4, 0, 2, 0, 1, 3, 0, 1, 2, 0, 2, 1, ...",61,"[110, 110, 110, 94, 94, 94, 94, 94, 94, 94, 94...","[110, 126, 132, 94, 94, 94, 94, 94, 94, 107, 1..."

In [13]:
ffahc_results3['best_solution'] = ffahc_results3['best_solution'].apply(custom_literal_eval)
ffahc_results3['convergence'] = ffahc_results3['convergence'].apply(custom_literal_eval)

In [14]:
ffahc_results3['best_makespan_4'] = ffahc_results3['convergence'].apply(lambda x: x[9999])
ffahc_results3['best_makespan_5'] = ffahc_results3['convergence'].apply(lambda x: x[99999])
ffahc_results3['best_makespan_250'] = ffahc_results3['convergence'].apply(lambda x: x[249999])
ffahc_results3['best_makespan_500'] = ffahc_results3['convergence'].apply(lambda x: x[499999])
ffahc_results3['best_makespan_750'] = ffahc_results3['convergence'].apply(lambda x: x[749999])

## Save all makespans to dataset

In [15]:
best1 = ffahc_results1['best_makespan']
best2 = ffahc_results2['best_makespan']
best3 = ffahc_results1['best_makespan']

In [16]:
instances = ffahc_results1['instance_id']

In [17]:
best_makespans_all = pd.DataFrame({'instance_id': instances,
                                     'run1_4': ffahc_results1['best_makespan_4'],
                                     'run2_4': ffahc_results2['best_makespan_4'],
                                     'run3_4': ffahc_results1['best_makespan_4'],
                                     'run1_5': ffahc_results1['best_makespan_5'],
                                     'run2_5': ffahc_results2['best_makespan_5'],
                                     'run3_5': ffahc_results3['best_makespan_5'],
                                     'run1_250': ffahc_results1['best_makespan_250'],
                                     'run2_250': ffahc_results2['best_makespan_250'],
                                     'run3_250': ffahc_results3['best_makespan_250'],
                                     'run1_500': ffahc_results1['best_makespan_500'],
                                     'run2_500': ffahc_results2['best_makespan_500'],
                                     'run3_500': ffahc_results3['best_makespan_500'],
                                     'run1_750': ffahc_results1['best_makespan_750'],
                                     'run2_750': ffahc_results2['best_makespan_750'],
                                     'run3_750': ffahc_results3['best_makespan_750'],
                                     'run1_best': best1,
                                     'run2_best': best2,
                                     'run3_best': best3})

In [18]:
best_makespans_all.head()

,instance_id,run1_4,run2_4,run3_4,run1_5,run2_5,run3_5,run1_250,run2_250,run3_250,run1_500,run2_500,run3_500,run1_750,run2_750,run3_750,run1_best,run2_best,run3_best
0,0,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48
1,1,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48
2,2,52,52,52,52,52,52,52,52,52,52,52,52,52,52,52,52,52,52
3,3,56,56,56,54,54,54,54,54,54,54,54,54,54,54,54,54,54,54
4,4,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61

In [19]:
best_makespans_all.to_csv('ffahc_all_runs_makespans_nongreedy.csv', index=False)

## FFA HC convergence dataset

In [11]:
#selected ids based with largest makespan differences within the instance makespans
instances_ids = [0, 18, 29, 33, 398, 415, 418, 419]

In [16]:
ffa1_convergence = []
ffa2_convergence = []
ffa3_convergence = []
for i in instances_ids:
    print(i)
    ffa1 = ffahc_results1['convergence'][i]
    ffa2 = ffahc_results2['convergence'][i]
    ffa3 = ffahc_results3['convergence'][i]
    ffa1_convergence.append(ffa1)
    print(ffa1_convergence)
    ffa2_convergence.append(ffa2)
    print(ffa2_convergence)
    ffa3_convergence.append(ffa3)
    print(ffa3_convergence)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [18]:
ffahc_convergence_df = pd.DataFrame({'instance_id': instances_ids,
                                     'ffahc1_convergence': ffa1_convergence,
                                     'ffahc2_convergence': ffa2_convergence,
                                     'ffahc3_convergence': ffa3_convergence})

In [20]:
ffahc_convergence_df

,instance_id,ffahc1_convergence,ffahc2_convergence,ffahc3_convergence
0,0,"[65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 6...","[52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 5...","[60, 60, 60, 60, 60, 60, 60, 55, 55, 55, 55, 5..."
1,18,"[193, 193, 193, 193, 193, 193, 193, 193, 193, ...","[197, 191, 191, 191, 191, 191, 191, 191, 191, ...","[221, 221, 217, 217, 213, 213, 196, 196, 196, ..."
2,29,"[200, 194, 189, 189, 188, 182, 182, 182, 182, ...","[180, 175, 173, 173, 173, 173, 173, 173, 173, ...","[187, 187, 185, 185, 185, 185, 185, 185, 185, ..."
3,33,"[250, 250, 250, 250, 250, 250, 250, 250, 250, ...","[216, 216, 213, 211, 206, 195, 195, 195, 195, ...","[192, 192, 192, 192, 192, 192, 192, 192, 192, ..."
4,398,"[1008, 1008, 1008, 1008, 1008, 1008, 1008, 100...","[1047, 1047, 1047, 1047, 1047, 1047, 1047, 104...","[1210, 1210, 1210, 1205, 1195, 1191, 1183, 118..."
5,415,"[1133, 1133, 1133, 1133, 1133, 1133, 1133, 113...","[1133, 1133, 1133, 1133, 1133, 1133, 1131, 113...","[1092, 1083, 1083, 1072, 1053, 1053, 1053, 105..."
6,418,"[1187, 1181, 1181, 1181, 1181, 1181, 1181, 118...","[1188, 1183, 1180, 1180, 1180, 1180, 1180, 118...","[1073, 1073, 1073, 1073, 1073, 1073, 1073, 107..."
7,419,"[1160, 1160, 1151, 1140, 1140, 1140, 1140, 114...","[1083, 1083, 1081, 1081, 1077, 1077, 1077, 107...","[1152, 1147, 1147, 1147, 1147, 1147, 1147, 114..."

In [21]:
ffahc_convergence_df.to_csv('ffahc_runs_combined3_conv_only.csv', index=False)

## FFA HC Results combined

In [17]:
ffahc_instance_id = ffahc_results1['instance_id']
print(ffahc_instance_id)

0        0
1        1
2        2
3        3
4        4
      ...
415    415
416    416
417    417
418    418
419    419
Name: instance_id, Length: 420, dtype: int64

In [18]:
num_runs = 3

In [19]:
ffahc_best_makespan_4 = (ffahc_results1['best_makespan_4'] + ffahc_results2['best_makespan_4'] + 
                      ffahc_results3['best_makespan_4']) / num_runs
print(ffahc_best_makespan_4)

0       48.000000
1       48.000000
2       52.000000
3       56.000000
4       61.000000
          ...
415    967.666667
416    925.666667
417    942.333333
418    934.666667
419    940.666667
Name: best_makespan_4, Length: 420, dtype: float64

In [20]:
ffahc_best_makespan_5 = (ffahc_results1['best_makespan_5'] + ffahc_results2['best_makespan_5'] + 
                      ffahc_results3['best_makespan_5']) / num_runs
print(ffahc_best_makespan_5)

0       48.000000
1       48.000000
2       52.000000
3       54.000000
4       61.000000
          ...
415    854.000000
416    819.333333
417    842.666667
418    869.333333
419    850.666667
Name: best_makespan_5, Length: 420, dtype: float64

In [21]:
ffahc_best_makespan_250 = (ffahc_results1['best_makespan_250'] + ffahc_results2['best_makespan_250'] + 
                      ffahc_results3['best_makespan_250']) / num_runs
print(ffahc_best_makespan_250)

0       48.000000
1       48.000000
2       52.000000
3       54.000000
4       61.000000
          ...
415    817.000000
416    797.333333
417    804.333333
418    818.333333
419    825.333333
Name: best_makespan_250, Length: 420, dtype: float64

In [24]:
ffahc_best_makespan_500 = (ffahc_results1['best_makespan_500'] + ffahc_results2['best_makespan_500'] + 
                      ffahc_results3['best_makespan_500']) / num_runs
print(ffahc_best_makespan_500)

0       48.000000
1       48.000000
2       52.000000
3       54.000000
4       61.000000
          ...
415    787.666667
416    761.000000
417    762.666667
418    799.333333
419    785.666667
Name: best_makespan_500, Length: 420, dtype: float64

In [26]:
ffahc_best_makespan_750 = (ffahc_results1['best_makespan_750'] + ffahc_results2['best_makespan_750'] + 
                      ffahc_results3['best_makespan_750']) / num_runs
print(ffahc_best_makespan_750)

0       48.000000
1       48.000000
2       52.000000
3       54.000000
4       61.000000
          ...
415    781.666667
416    757.666667
417    756.666667
418    786.000000
419    774.333333
Name: best_makespan_750, Length: 420, dtype: float64

In [27]:
ffahc_best_makespan_6 = (ffahc_results1['best_makespan'] + ffahc_results2['best_makespan']+ 
                         ffahc_results3['best_makespan']) / num_runs
print(ffahc_best_makespan_6)

0       48.000000
1       48.000000
2       52.000000
3       54.000000
4       61.000000
          ...
415    777.666667
416    747.000000
417    747.666667
418    773.666667
419    764.000000
Name: best_makespan, Length: 420, dtype: float64

In [28]:
ffahc_random_initial_makespan1 = pd.Series([i[0] for i in ffahc_results1['convergence']])
ffahc_random_initial_makespan2 = pd.Series([i[0] for i in ffahc_results2['convergence']])
ffahc_random_initial_makespan3 = pd.Series([i[0] for i in ffahc_results3['convergence']])

ffahc_random_initial_makespan = (ffahc_random_initial_makespan1 + ffahc_random_initial_makespan2 + ffahc_random_initial_makespan3) / num_runs
print(ffahc_random_initial_makespan)

0        59.000000
1        79.666667
2        75.333333
3        86.333333
4       107.666667
          ...
415    1119.333333
416    1131.666667
417    1121.333333
418    1149.333333
419    1131.666667
Length: 420, dtype: float64

In [29]:
ffahc_runs_combined = pd.DataFrame({'instance_id': ffahc_instance_id, 
                                 'random_initial_makespan': ffahc_random_initial_makespan, 
                                 'best_makespan_4': ffahc_best_makespan_4,
                                 'best_makespan_5': ffahc_best_makespan_5,
                                 'best_makespan_250': ffahc_best_makespan_250,
                                 'best_makespan_500': ffahc_best_makespan_500,
                                 'best_makespan_750': ffahc_best_makespan_750,
                                 'best_makespan_6': ffahc_best_makespan_6, })
ffahc_runs_combined.head()

,instance_id,random_initial_makespan,best_makespan_4,best_makespan_5,best_makespan_250,best_makespan_500,best_makespan_750,best_makespan_6
0,0,59.000000,48.0,48.0,48.0,48.0,48.0,48.0
1,1,79.666667,48.0,48.0,48.0,48.0,48.0,48.0
2,2,75.333333,52.0,52.0,52.0,52.0,52.0,52.0
3,3,86.333333,56.0,54.0,54.0,54.0,54.0,54.0
4,4,107.666667,61.0,61.0,61.0,61.0,61.0,61.0

In [30]:
ffahc_runs_combined.to_csv('ffahc_runs_combined3_incl_conv.csv', index=False)