In [1]:
import pandas as pd
import ast
import numpy as np
import matplotlib.pyplot as plt
import json
import seaborn as sns

# Import and combine data

## HillClimber run 1

In [2]:
hc_results1 = pd.read_csv('hc_1000000_evals_cor.csv', sep=';', index_col=False)
hc_results1.head()

,instance_id,best_solution,best_makespan,convergence
0,0,"[1, 2, 1, 0, 2, 1, 0, 2, 1, 3, 0, 2, 1, 0, 3, ...",48,"[60, 60, 60, 60, 60, 59, 52, 52, 52, 52, 52, 5..."
1,1,"[3, 4, 3, 1, 2, 2, 2, 4, 1, 4, 0, 0, 1, 3, 2, ...",48,"[64, 63, 63, 63, 63, 63, 63, 63, 63, 63, 60, 6..."
2,2,"[1, 4, 4, 1, 0, 3, 2, 1, 2, 4, 0, 0, 3, 0, 2, ...",52,"[69, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 6..."
3,3,"[4, 4, 2, 3, 1, 2, 0, 2, 3, 2, 3, 1, 2, 4, 1, ...",54,"[77, 77, 77, 76, 76, 76, 76, 76, 76, 76, 76, 7..."
4,4,"[1, 4, 0, 0, 3, 1, 2, 2, 0, 1, 3, 2, 2, 1, 0, ...",61,"[108, 95, 92, 92, 92, 90, 90, 90, 90, 90, 90, ..."

### Strings to lists

In [3]:
def custom_literal_eval(x):
    try:
        return json.loads(x)
    except (json.JSONDecodeError, TypeError):
        return x

In [4]:
hc_results1['best_solution'] = hc_results1['best_solution'].apply(custom_literal_eval)
hc_results1['convergence'] = hc_results1['convergence'].apply(custom_literal_eval)

In [7]:
hc_results1['best_makespan_4'] = hc_results1['convergence'].apply(lambda x: x[9999])
hc_results1['best_makespan_5'] = hc_results1['convergence'].apply(lambda x: x[99999])
hc_results1['best_makespan_250'] = hc_results1['convergence'].apply(lambda x: x[249999])
hc_results1['best_makespan_500'] = hc_results1['convergence'].apply(lambda x: x[499999])
hc_results1['best_makespan_750'] = hc_results1['convergence'].apply(lambda x: x[749999])

## HillClimber run 2

In [9]:
hc_results2 = pd.read_csv('hc_1000000_evals_cor2.csv', sep=';', index_col=False)
hc_results2.head()

,instance_id,best_solution,best_makespan,convergence
0,0,"[1, 0, 2, 1, 3, 1, 4, 2, 3, 0, 0, 1, 2, 4, 0, ...",48,"[76, 76, 76, 63, 58, 58, 58, 58, 56, 56, 56, 5..."
1,1,"[1, 3, 4, 0, 2, 4, 4, 2, 0, 2, 4, 2, 3, 1, 3, ...",48,"[65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 6..."
2,2,"[1, 4, 2, 3, 0, 3, 1, 0, 0, 2, 1, 3, 4, 4, 2, ...",52,"[97, 80, 64, 64, 64, 64, 64, 64, 64, 64, 64, 6..."
3,3,"[1, 4, 3, 0, 2, 2, 4, 2, 2, 3, 3, 1, 1, 3, 2, ...",54,"[75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 75, 7..."
4,4,"[3, 0, 1, 2, 2, 0, 2, 1, 1, 1, 2, 3, 3, 0, 4, ...",61,"[89, 80, 80, 80, 79, 79, 79, 79, 79, 79, 76, 7..."

In [10]:
hc_results2['best_solution'] = hc_results2['best_solution'].apply(custom_literal_eval)
hc_results2['convergence'] = hc_results2['convergence'].apply(custom_literal_eval)

In [11]:
hc_results2['best_makespan_4'] = hc_results2['convergence'].apply(lambda x: x[9999])
hc_results2['best_makespan_5'] = hc_results2['convergence'].apply(lambda x: x[99999])
hc_results2['best_makespan_250'] = hc_results2['convergence'].apply(lambda x: x[249999])
hc_results2['best_makespan_500'] = hc_results2['convergence'].apply(lambda x: x[499999])
hc_results2['best_makespan_750'] = hc_results2['convergence'].apply(lambda x: x[749999])

## HillClimber run 3

In [12]:
hc_results3 = pd.read_csv('hc_1000000_evals_cor3.csv', sep=';', index_col=False)
hc_results3.head()

,instance_id,best_solution,best_makespan,convergence
0,0,"[1, 1, 2, 4, 3, 1, 3, 2, 2, 4, 1, 3, 0, 2, 3, ...",48,"[79, 72, 72, 70, 68, 68, 68, 67, 67, 67, 62, 6..."
1,1,"[1, 0, 3, 2, 4, 2, 4, 1, 4, 2, 3, 4, 0, 2, 1, ...",48,"[74, 74, 66, 59, 59, 59, 59, 59, 59, 59, 59, 5..."
2,2,"[0, 4, 2, 2, 1, 1, 0, 3, 4, 0, 3, 2, 1, 4, 4, ...",52,"[75, 75, 73, 73, 73, 73, 73, 73, 73, 73, 72, 7..."
3,3,"[4, 1, 3, 0, 2, 3, 3, 2, 4, 2, 4, 2, 1, 4, 1, ...",54,"[77, 77, 77, 77, 77, 77, 77, 71, 71, 71, 71, 7..."
4,4,"[3, 4, 0, 1, 1, 0, 2, 2, 2, 1, 0, 1, 0, 2, 3, ...",61,"[71, 71, 71, 71, 67, 67, 67, 67, 67, 67, 67, 6..."

In [14]:
hc_results3['best_solution'] = hc_results3['best_solution'].apply(custom_literal_eval)
hc_results3['convergence'] = hc_results3['convergence'].apply(custom_literal_eval)

In [15]:
hc_results3['best_makespan_4'] = hc_results3['convergence'].apply(lambda x: x[9999])
hc_results3['best_makespan_5'] = hc_results3['convergence'].apply(lambda x: x[99999])
hc_results3['best_makespan_250'] = hc_results3['convergence'].apply(lambda x: x[249999])
hc_results3['best_makespan_500'] = hc_results3['convergence'].apply(lambda x: x[499999])
hc_results3['best_makespan_750'] = hc_results3['convergence'].apply(lambda x: x[749999])

## Save all makespans to dataset

In [16]:
best1 = hc_results1['best_makespan']
best2 = hc_results2['best_makespan']
best3 = hc_results1['best_makespan']

In [17]:
instances = hc_results1['instance_id']

In [18]:
best_makespans_all = pd.DataFrame({'instance_id': instances,
                                     'run1_4': hc_results1['best_makespan_4'],
                                     'run2_4': hc_results2['best_makespan_4'],
                                     'run3_4': hc_results1['best_makespan_4'],
                                     'run1_5': hc_results1['best_makespan_5'],
                                     'run2_5': hc_results2['best_makespan_5'],
                                     'run3_5': hc_results3['best_makespan_5'],
                                     'run1_250': hc_results1['best_makespan_250'],
                                     'run2_250': hc_results2['best_makespan_250'],
                                     'run3_250': hc_results3['best_makespan_250'],
                                     'run1_500': hc_results1['best_makespan_500'],
                                     'run2_500': hc_results2['best_makespan_500'],
                                     'run3_500': hc_results3['best_makespan_500'],
                                     'run1_750': hc_results1['best_makespan_750'],
                                     'run2_750': hc_results2['best_makespan_750'],
                                     'run3_750': hc_results3['best_makespan_750'],
                                     'run1_best': best1,
                                     'run2_best': best2,
                                     'run3_best': best3})

In [19]:
best_makespans_all.head()

,instance_id,run1_4,run2_4,run3_4,run1_5,run2_5,run3_5,run1_250,run2_250,run3_250,run1_500,run2_500,run3_500,run1_750,run2_750,run3_750,run1_best,run2_best,run3_best
0,0,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48
1,1,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48
2,2,52,52,52,52,52,52,52,52,52,52,52,52,52,52,52,52,52,52
3,3,54,54,54,54,54,54,54,54,54,54,54,54,54,54,54,54,54,54
4,4,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61

In [20]:
best_makespans_all.to_csv('hc_all_runs_makespans_nongreedy.csv', index=False)

## HC Convergende dataset

In [22]:
#selected ids based with largest makespan differences within the instance makespans
instances_ids = [0, 18, 29, 33, 398, 415, 418, 419]

In [23]:
hc1_convergence = []
hc2_convergence = []
hc3_convergence = []
for i in instances_ids:
    print(i)
    hc1 = hc_results1['convergence'][i]
    hc2 = hc_results2['convergence'][i]
    hc3 = hc_results3['convergence'][i]
    hc1_convergence.append(hc1)
#     print(hc_convergence)
    hc2_convergence.append(hc2)
#     print(hc2_convergence)
    hc3_convergence.append(hc3)
#     print(hc3_convergence)

0
18
29
33
398
415
418
419

In [24]:
hc_convergence_df = pd.DataFrame({'instance_id': instances_ids,
                                     'hc1_convergence': hc1_convergence,
                                     'hc2_convergence': hc2_convergence,
                                     'hc3_convergence': hc3_convergence})

In [25]:
hc_convergence_df

,instance_id,hc1_convergence,hc2_convergence,hc3_convergence
0,0,"[60, 60, 60, 60, 60, 59, 52, 52, 52, 52, 52, 5...","[76, 76, 76, 63, 58, 58, 58, 58, 56, 56, 56, 5...","[79, 72, 72, 70, 68, 68, 68, 67, 67, 67, 62, 6..."
1,18,"[204, 204, 204, 204, 204, 204, 203, 203, 203, ...","[208, 205, 205, 191, 191, 191, 191, 181, 181, ...","[194, 192, 192, 192, 192, 192, 192, 190, 190, ..."
2,29,"[207, 201, 201, 201, 198, 189, 189, 189, 189, ...","[201, 201, 201, 201, 187, 187, 181, 181, 162, ...","[209, 208, 189, 189, 189, 189, 189, 188, 188, ..."
3,33,"[210, 210, 210, 210, 210, 210, 201, 200, 200, ...","[215, 214, 214, 214, 214, 212, 212, 207, 207, ...","[211, 211, 211, 202, 196, 196, 192, 192, 192, ..."
4,398,"[1164, 1164, 1164, 1149, 1149, 1149, 1149, 114...","[1080, 1080, 1074, 1073, 1073, 1064, 1064, 106...","[1061, 1061, 1061, 1061, 1058, 1058, 1055, 105..."
5,415,"[1120, 1120, 1120, 1111, 1111, 1106, 1102, 110...","[1102, 1102, 1102, 1102, 1101, 1101, 1093, 108...","[1111, 1111, 1111, 1111, 1111, 1089, 1089, 108..."
6,418,"[1210, 1210, 1210, 1210, 1210, 1210, 1169, 116...","[1051, 1040, 1040, 1040, 1040, 1040, 1040, 103...","[1157, 1157, 1157, 1157, 1157, 1151, 1151, 115..."
7,419,"[1120, 1120, 1120, 1110, 1110, 1093, 1093, 109...","[1148, 1148, 1148, 1148, 1148, 1146, 1146, 114...","[1126, 1126, 1126, 1125, 1125, 1125, 1121, 111..."

In [26]:
hc_convergence_df.to_csv('hc_runs_combined3_conv_only.csv', index=False)

## HC Results combined

In [ ]:
num_runs = 3

In [11]:
hc_instance_id = hc_results1['instance_id']
print(hc_instance_id)

0        0
1        1
2        2
3        3
4        4
      ...
415    415
416    416
417    417
418    418
419    419
Name: instance_id, Length: 420, dtype: int64

In [18]:
hc_best_makespan_4 = (hc_results1['best_makespan_4'] + hc_results2['best_makespan_4'] + 
                      hc_results3['best_makespan_4']) / num_runs
print(hc_best_makespan_4)

0       48.000000
1       48.000000
2       52.000000
3       54.000000
4       61.000000
          ...
415    744.000000
416    733.333333
417    734.333333
418    749.666667
419    746.666667
Name: best_makespan_4, Length: 420, dtype: float64

In [19]:
hc_best_makespan_5 = (hc_results1['best_makespan_5'] + hc_results2['best_makespan_5'] + 
                      hc_results3['best_makespan_5']) / num_runs
print(hc_best_makespan_5)

0       48.000000
1       48.000000
2       52.000000
3       54.000000
4       61.000000
          ...
415    672.666667
416    656.666667
417    655.000000
418    672.666667
419    667.666667
Name: best_makespan_5, Length: 420, dtype: float64

In [20]:
hc_best_makespan_250 = (hc_results1['best_makespan_250'] + hc_results2['best_makespan_250'] + 
                      hc_results3['best_makespan_250']) / num_runs
print(hc_best_makespan_250)

0       48.000000
1       48.000000
2       52.000000
3       54.000000
4       61.000000
          ...
415    655.000000
416    639.333333
417    635.666667
418    653.000000
419    647.666667
Name: best_makespan_250, Length: 420, dtype: float64

In [21]:
hc_best_makespan_500 = (hc_results1['best_makespan_500'] + hc_results2['best_makespan_500'] + 
                      hc_results3['best_makespan_500']) / num_runs
print(hc_best_makespan_500)

0       48.000000
1       48.000000
2       52.000000
3       54.000000
4       61.000000
          ...
415    644.333333
416    629.666667
417    623.333333
418    642.666667
419    637.666667
Name: best_makespan_500, Length: 420, dtype: float64

In [22]:
hc_best_makespan_750 = (hc_results1['best_makespan_750'] + hc_results2['best_makespan_750'] + 
                      hc_results3['best_makespan_750']) / num_runs
print(hc_best_makespan_750)

0       48.000000
1       48.000000
2       52.000000
3       54.000000
4       61.000000
          ...
415    640.000000
416    623.000000
417    616.666667
418    634.333333
419    629.666667
Name: best_makespan_750, Length: 420, dtype: float64

In [23]:
hc_best_makespan_6 = (hc_results1['best_makespan'] + hc_results2['best_makespan'] + 
                      hc_results3['best_makespan']) / num_runs
print(hc_best_makespan_6)

0       48.000000
1       48.000000
2       52.000000
3       54.000000
4       61.000000
          ...
415    635.666667
416    617.000000
417    613.333333
418    631.333333
419    624.333333
Name: best_makespan, Length: 420, dtype: float64

In [24]:
hc_random_initial_makespan1 = pd.Series([i[0] for i in hc_results1['convergence']])
hc_random_initial_makespan2 = pd.Series([i[0] for i in hc_results2['convergence']])
hc_random_initial_makespan3 = pd.Series([i[0] for i in hc_results3['convergence']])

hc_random_initial_makespan = (hc_random_initial_makespan1 + hc_random_initial_makespan2 + hc_random_initial_makespan3) / num_runs
print(hc_random_initial_makespan)

0        71.666667
1        67.666667
2        80.333333
3        76.333333
4        89.333333
          ...
415    1111.000000
416    1128.666667
417    1085.333333
418    1139.333333
419    1131.333333
Length: 420, dtype: float64

In [25]:
hc_runs_combined = pd.DataFrame({'instance_id': hc_instance_id, 
                                 'random_initial_makespan': hc_random_initial_makespan, 
                                 'best_makespan_4': hc_best_makespan_4,
                                 'best_makespan_5': hc_best_makespan_5,
                                 'best_makespan_250': hc_best_makespan_250,
                                 'best_makespan_500': hc_best_makespan_500,
                                 'best_makespan_750': hc_best_makespan_750,
                                 'best_makespan_6': hc_best_makespan_6, })
hc_runs_combined.head()

,instance_id,random_initial_makespan,best_makespan_4,best_makespan_5,best_makespan_250,best_makespan_500,best_makespan_750,best_makespan_6
0,0,71.666667,48.0,48.0,48.0,48.0,48.0,48.0
1,1,67.666667,48.0,48.0,48.0,48.0,48.0,48.0
2,2,80.333333,52.0,52.0,52.0,52.0,52.0,52.0
3,3,76.333333,54.0,54.0,54.0,54.0,54.0,54.0
4,4,89.333333,61.0,61.0,61.0,61.0,61.0,61.0

In [26]:
hc_runs_combined.to_csv('hc_runs_combined3_incl_conv.csv', index=False)