In [1]:
import pandas as pd
import ast
import numpy as np
import matplotlib.pyplot as plt
import json
import seaborn as sns

# Import and combine data

## HillClimber run 1

In [2]:
hc_results1 = pd.read_csv('hc_1000000_evals_greedy1.csv', sep=';', index_col=False)
hc_results1.head()

,instance_id,best_solution,best_makespan,convergence
0,0,"[4, 2, 2, 2, 1, 0, 1, 3, 4, 2, 4, 0, 3, 3, 1, ...",52,"[54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 5..."
1,1,"[0, 3, 2, 1, 0, 2, 4, 0, 3, 4, 1, 4, 3, 0, 4, ...",51,"[62, 62, 62, 62, 62, 58, 58, 58, 58, 58, 58, 5..."
2,2,"[2, 4, 3, 1, 1, 4, 0, 2, 0, 4, 2, 0, 0, 1, 3, ...",56,"[107, 107, 107, 107, 85, 85, 66, 66, 64, 64, 6..."
3,3,"[4, 4, 1, 2, 3, 3, 3, 1, 2, 2, 0, 2, 2, 3, 4, ...",57,"[103, 91, 91, 91, 89, 89, 89, 88, 88, 86, 86, ..."
4,4,"[2, 0, 4, 0, 3, 4, 1, 4, 0, 1, 2, 4, 3, 3, 2, ...",82,"[95, 93, 93, 93, 93, 91, 91, 89, 89, 89, 89, 8..."

### Strings to lists

In [3]:
def custom_literal_eval(x):
    try:
        return json.loads(x)
    except (json.JSONDecodeError, TypeError):
        return x

In [33]:
hc_results1['best_solution'] = hc_results1['best_solution'].apply(custom_literal_eval)
hc_results1['convergence'] = hc_results1['convergence'].apply(custom_literal_eval)

In [34]:
hc_results1['best_makespan_4'] = hc_results1['convergence'].apply(lambda x: x[9999])
hc_results1['best_makespan_5'] = hc_results1['convergence'].apply(lambda x: x[99999])
hc_results1['best_makespan_250'] = hc_results1['convergence'].apply(lambda x: x[249999])
hc_results1['best_makespan_500'] = hc_results1['convergence'].apply(lambda x: x[499999])
hc_results1['best_makespan_750'] = hc_results1['convergence'].apply(lambda x: x[749999])

## HillClimber run 2

In [9]:
hc_results2 = pd.read_csv('hc_1000000_evals_greedy2.csv', sep=';', index_col=False)
hc_results2.head()

,instance_id,best_solution,best_makespan,convergence
0,0,"[2, 4, 4, 1, 1, 2, 0, 2, 3, 3, 0, 0, 4, 2, 4, ...",52,"[76, 76, 76, 76, 76, 76, 75, 73, 59, 59, 59, 5..."
1,1,"[0, 0, 4, 3, 0, 4, 4, 3, 0, 1, 4, 0, 1, 3, 1, ...",59,"[73, 67, 67, 67, 67, 67, 67, 67, 67, 67, 63, 6..."
2,2,"[2, 3, 2, 1, 3, 0, 1, 3, 0, 2, 1, 1, 0, 4, 2, ...",63,"[82, 68, 63, 63, 63, 63, 63, 63, 63, 63, 63, 6..."
3,3,"[2, 2, 3, 2, 4, 0, 2, 0, 4, 1, 1, 3, 0, 4, 3, ...",61,"[95, 95, 95, 95, 93, 83, 83, 83, 83, 78, 78, 6..."
4,4,"[0, 0, 3, 3, 4, 4, 2, 1, 4, 1, 3, 3, 1, 3, 4, ...",78,"[97, 97, 97, 92, 92, 90, 89, 89, 85, 85, 84, 8..."

In [10]:
hc_results2['best_solution'] = hc_results2['best_solution'].apply(custom_literal_eval)
hc_results2['convergence'] = hc_results2['convergence'].apply(custom_literal_eval)

In [35]:
hc_results2['best_makespan_4'] = hc_results2['convergence'].apply(lambda x: x[9999])
hc_results2['best_makespan_5'] = hc_results2['convergence'].apply(lambda x: x[99999])
hc_results2['best_makespan_250'] = hc_results2['convergence'].apply(lambda x: x[249999])
hc_results2['best_makespan_500'] = hc_results2['convergence'].apply(lambda x: x[499999])
hc_results2['best_makespan_750'] = hc_results2['convergence'].apply(lambda x: x[749999])

## HillClimber run 3

In [12]:
hc_results3 = pd.read_csv('hc_1000000_evals_greedy3.csv', sep=';', index_col=False)
hc_results3.head()

,instance_id,best_solution,best_makespan,convergence
0,0,"[1, 3, 3, 2, 1, 4, 3, 4, 3, 1, 2, 4, 4, 2, 3, ...",51,"[68, 67, 67, 67, 67, 66, 66, 61, 55, 55, 55, 5..."
1,1,"[4, 1, 2, 2, 2, 0, 3, 2, 3, 1, 3, 4, 4, 2, 0, ...",48,"[68, 68, 68, 68, 68, 52, 52, 52, 52, 52, 52, 5..."
2,2,"[1, 3, 2, 0, 2, 0, 3, 2, 4, 3, 3, 1, 4, 0, 4, ...",56,"[73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 73, 6..."
3,3,"[3, 0, 1, 4, 4, 2, 2, 0, 3, 0, 2, 4, 2, 2, 3, ...",59,"[70, 70, 70, 70, 70, 70, 70, 70, 69, 69, 69, 6..."
4,4,"[1, 0, 2, 1, 2, 0, 3, 3, 2, 0, 1, 1, 1, 1, 3, ...",62,"[91, 91, 91, 91, 89, 84, 84, 84, 83, 83, 83, 8..."

In [14]:
hc_results3['best_solution'] = hc_results3['best_solution'].apply(custom_literal_eval)
hc_results3['convergence'] = hc_results3['convergence'].apply(custom_literal_eval)

In [36]:
hc_results3['best_makespan_4'] = hc_results3['convergence'].apply(lambda x: x[9999])
hc_results3['best_makespan_5'] = hc_results3['convergence'].apply(lambda x: x[99999])
hc_results3['best_makespan_250'] = hc_results3['convergence'].apply(lambda x: x[249999])
hc_results3['best_makespan_500'] = hc_results3['convergence'].apply(lambda x: x[499999])
hc_results3['best_makespan_750'] = hc_results3['convergence'].apply(lambda x: x[749999])

## Save all best makespans to dataset

In [22]:
best1 = hc_results1['best_makespan']
best2 = hc_results2['best_makespan']
best3 = hc_results1['best_makespan']

In [24]:
instances = hc_results1['instance_id']

In [37]:
best_makespans_all = pd.DataFrame({'instance_id': instances,
                                     'run1_4': hc_results1['best_makespan_4'],
                                     'run2_4': hc_results2['best_makespan_4'],
                                     'run3_4': hc_results1['best_makespan_4'],
                                     'run1_5': hc_results1['best_makespan_5'],
                                     'run2_5': hc_results2['best_makespan_5'],
                                     'run3_5': hc_results3['best_makespan_5'],
                                     'run1_250': hc_results1['best_makespan_250'],
                                     'run2_250': hc_results2['best_makespan_250'],
                                     'run3_250': hc_results3['best_makespan_250'],
                                     'run1_500': hc_results1['best_makespan_500'],
                                     'run2_500': hc_results2['best_makespan_500'],
                                     'run3_500': hc_results3['best_makespan_500'],
                                     'run1_750': hc_results1['best_makespan_750'],
                                     'run2_750': hc_results2['best_makespan_750'],
                                     'run3_750': hc_results3['best_makespan_750'],
                                     'run1_best': best1,
                                     'run2_best': best2,
                                     'run3_best': best3})

In [38]:
best_makespans_all.head()

,instance_id,run1_4,run2_4,run3_4,run1_5,run2_5,run3_5,run1_250,run2_250,run3_250,run1_500,run2_500,run3_500,run1_750,run2_750,run3_750,run1_best,run2_best,run3_best
0,0,52,52,52,52,52,51,52,52,51,52,52,51,52,52,51,52,52,52
1,1,51,59,51,51,59,48,51,59,48,51,59,48,51,59,48,51,59,51
2,2,56,63,56,56,63,56,56,63,56,56,63,56,56,63,56,56,63,56
3,3,57,61,57,57,61,59,57,61,59,57,61,59,57,61,59,57,61,57
4,4,82,78,82,82,78,62,82,78,62,82,78,62,82,78,62,82,78,82

In [39]:
best_makespans_all.to_csv('hc_all_runs_makespans_greedy.csv', index=False)

## HC Convergende dataset

In [16]:
#selected ids based with largest makespan differences within the instance makespans
instances_ids = [0, 37, 62, 293, 335, 363, 396, 419]

In [17]:
hc1_convergence = []
hc2_convergence = []
hc3_convergence = []
for i in instances_ids:
    print(i)
    hc1 = hc_results1['convergence'][i]
    hc2 = hc_results2['convergence'][i]
    hc3 = hc_results3['convergence'][i]
    hc1_convergence.append(hc1)
#     print(hc_convergence)
    hc2_convergence.append(hc2)
#     print(hc2_convergence)
    hc3_convergence.append(hc3)
#     print(hc3_convergence)

0
37
62
293
335
363
396
419

In [18]:
hc_convergence_df = pd.DataFrame({'instance_id': instances_ids,
                                     'hc1_convergence': hc1_convergence,
                                     'hc2_convergence': hc2_convergence,
                                     'hc3_convergence': hc3_convergence})

In [19]:
hc_convergence_df

,instance_id,hc1_convergence,hc2_convergence,hc3_convergence
0,0,"[54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 5...","[76, 76, 76, 76, 76, 76, 75, 73, 59, 59, 59, 5...","[68, 67, 67, 67, 67, 66, 66, 61, 55, 55, 55, 5..."
1,37,"[247, 247, 247, 247, 247, 245, 245, 245, 245, ...","[248, 248, 233, 233, 233, 233, 233, 233, 233, ...","[244, 244, 244, 244, 244, 244, 244, 233, 233, ..."
2,62,"[377, 373, 365, 365, 346, 318, 318, 318, 318, ...","[373, 373, 373, 368, 365, 357, 357, 352, 352, ...","[341, 338, 338, 338, 338, 322, 322, 320, 320, ..."
3,293,"[833, 833, 833, 833, 833, 833, 823, 823, 823, ...","[849, 849, 849, 842, 839, 839, 822, 822, 822, ...","[924, 918, 910, 910, 910, 910, 910, 910, 910, ..."
4,335,"[984, 971, 971, 966, 962, 962, 962, 962, 962, ...","[957, 957, 956, 951, 951, 947, 925, 925, 925, ...","[1017, 986, 986, 986, 986, 986, 986, 986, 986,..."
5,363,"[877, 867, 860, 858, 858, 858, 858, 858, 853, ...","[812, 812, 812, 812, 809, 809, 809, 809, 809, ...","[835, 826, 819, 806, 795, 795, 795, 795, 795, ..."
6,396,"[1041, 1041, 1041, 1041, 1038, 1038, 1038, 103...","[1052, 1049, 1047, 1047, 1039, 1039, 1035, 103...","[1065, 1063, 1063, 1051, 1051, 1048, 1048, 104..."
7,419,"[1052, 1052, 1052, 1052, 1052, 1052, 1052, 105...","[1007, 1007, 1007, 1007, 998, 998, 998, 998, 9...","[1126, 1125, 1125, 1125, 1124, 1124, 1124, 112..."

In [20]:
hc_convergence_df.to_csv('hc_runs_combined3_conv_only_greedy.csv', index=False)

## HC Results combined

In [13]:
num_runs = 3

In [14]:
hc_instance_id = hc_results1['instance_id']
print(hc_instance_id)

0        0
1        1
2        2
3        3
4        4
      ...
415    415
416    416
417    417
418    418
419    419
Name: instance_id, Length: 420, dtype: int64

In [15]:
hc_best_makespan_4 = (hc_results1['best_makespan_4'] + hc_results2['best_makespan_4'] + 
                      hc_results3['best_makespan_4']) / num_runs
print(hc_best_makespan_4)

0       51.666667
1       52.666667
2       58.333333
3       59.000000
4       74.000000
          ...
415    820.666667
416    802.000000
417    788.000000
418    821.333333
419    815.333333
Name: best_makespan_4, Length: 420, dtype: float64

In [16]:
hc_best_makespan_5 = (hc_results1['best_makespan_5'] + hc_results2['best_makespan_5'] + 
                      hc_results3['best_makespan_5']) / num_runs
print(hc_best_makespan_5)

0       51.666667
1       52.666667
2       58.333333
3       59.000000
4       74.000000
          ...
415    783.666667
416    777.000000
417    764.333333
418    777.333333
419    781.000000
Name: best_makespan_5, Length: 420, dtype: float64

In [17]:
hc_best_makespan_250 = (hc_results1['best_makespan_250'] + hc_results2['best_makespan_250'] + 
                      hc_results3['best_makespan_250']) / num_runs
print(hc_best_makespan_250)

0       51.666667
1       52.666667
2       58.333333
3       59.000000
4       74.000000
          ...
415    776.333333
416    762.333333
417    763.666667
418    766.333333
419    768.333333
Name: best_makespan_250, Length: 420, dtype: float64

In [18]:
hc_best_makespan_500 = (hc_results1['best_makespan_500'] + hc_results2['best_makespan_500'] + 
                      hc_results3['best_makespan_500']) / num_runs
print(hc_best_makespan_500)

0       51.666667
1       52.666667
2       58.333333
3       59.000000
4       74.000000
          ...
415    773.666667
416    750.000000
417    759.666667
418    764.666667
419    761.333333
Name: best_makespan_500, Length: 420, dtype: float64

In [19]:
hc_best_makespan_750 = (hc_results1['best_makespan_750'] + hc_results2['best_makespan_750'] + 
                      hc_results3['best_makespan_750']) / num_runs
print(hc_best_makespan_750)

0       51.666667
1       52.666667
2       58.333333
3       59.000000
4       74.000000
          ...
415    773.666667
416    748.666667
417    758.333333
418    763.333333
419    761.333333
Name: best_makespan_750, Length: 420, dtype: float64

In [20]:
hc_best_makespan_6 = (hc_results1['best_makespan'] + hc_results2['best_makespan'] + 
                      hc_results3['best_makespan']) / num_runs
print(hc_best_makespan_6)

0       51.666667
1       52.666667
2       58.333333
3       59.000000
4       74.000000
          ...
415    771.666667
416    748.666667
417    757.333333
418    760.333333
419    759.333333
Name: best_makespan, Length: 420, dtype: float64

In [21]:
hc_random_initial_makespan1 = pd.Series([i[0] for i in hc_results1['convergence']])
hc_random_initial_makespan2 = pd.Series([i[0] for i in hc_results2['convergence']])
hc_random_initial_makespan3 = pd.Series([i[0] for i in hc_results3['convergence']])

hc_random_initial_makespan = (hc_random_initial_makespan1 + hc_random_initial_makespan2 + hc_random_initial_makespan3) / num_runs
print(hc_random_initial_makespan)

0        66.000000
1        67.666667
2        87.333333
3        89.333333
4        94.333333
          ...
415    1132.666667
416    1068.666667
417    1114.000000
418    1163.000000
419    1061.666667
Length: 420, dtype: float64

In [22]:
hc_runs_combined = pd.DataFrame({'instance_id': hc_instance_id, 
                                 'random_initial_makespan': hc_random_initial_makespan, 
                                 'best_makespan_4': hc_best_makespan_4,
                                 'best_makespan_5': hc_best_makespan_5,
                                 'best_makespan_250': hc_best_makespan_250,
                                 'best_makespan_500': hc_best_makespan_500,
                                 'best_makespan_750': hc_best_makespan_750,
                                 'best_makespan_6': hc_best_makespan_6, })
hc_runs_combined.head()

,instance_id,random_initial_makespan,best_makespan_4,best_makespan_5,best_makespan_250,best_makespan_500,best_makespan_750,best_makespan_6
0,0,66.000000,51.666667,51.666667,51.666667,51.666667,51.666667,51.666667
1,1,67.666667,52.666667,52.666667,52.666667,52.666667,52.666667,52.666667
2,2,87.333333,58.333333,58.333333,58.333333,58.333333,58.333333,58.333333
3,3,89.333333,59.000000,59.000000,59.000000,59.000000,59.000000,59.000000
4,4,94.333333,74.000000,74.000000,74.000000,74.000000,74.000000,74.000000

In [23]:
hc_runs_combined.to_csv('hc_runs_combined3_incl_conv_greedy.csv', index=False)