In [1]:
import pandas as pd
import ast
import numpy as np
import matplotlib.pyplot as plt
import json
import seaborn as sns

# Import and combine data

## FFA HillClimber run 1

In [2]:
ffahc_results1 = pd.read_csv('ffahc_1000000_evals_greedy1.csv', sep=';', index_col=False)
ffahc_results1.head()

,instance_id,least_frequent_solution,least_frequent_makespan,best_solution,best_makespan,convergence,search_progression
0,0,"[4, 0, 0, 2, 1, 3, 4, 4, 4, 1, 3, 0, 3, 1, 2, ...",109,"[1, 2, 1, 1, 4, 2, 3, 0, 4, 0, 4, 2, 4, 3, 0, ...",48,"[64, 64, 62, 62, 62, 62, 62, 62, 62, 62, 55, 5...","[64, 64, 62, 62, 62, 68, 69, 69, 69, 81, 55, 5..."
1,1,"[1, 2, 4, 0, 0, 0, 1, 0, 4, 3, 1, 3, 0, 1, 0, ...",100,"[1, 2, 2, 0, 1, 4, 3, 3, 4, 2, 2, 4, 0, 3, 2, ...",48,"[64, 64, 64, 64, 64, 64, 64, 63, 63, 63, 57, 5...","[64, 64, 77, 77, 77, 77, 71, 63, 63, 63, 57, 5..."
2,2,"[1, 4, 4, 1, 3, 2, 4, 0, 1, 3, 0, 2, 2, 0, 1, ...",92,"[0, 2, 4, 3, 1, 1, 2, 3, 0, 0, 4, 3, 0, 2, 1, ...",52,"[80, 80, 80, 80, 80, 76, 76, 68, 68, 68, 60, 6...","[80, 80, 80, 80, 84, 76, 76, 68, 68, 68, 60, 6..."
3,3,"[0, 0, 3, 3, 4, 4, 4, 4, 4, 0, 4, 2, 2, 2, 2, ...",184,"[4, 3, 2, 1, 3, 2, 3, 4, 2, 2, 1, 3, 1, 2, 3, ...",54,"[65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 6...","[65, 71, 71, 71, 75, 90, 90, 90, 90, 88, 78, 7..."
4,4,"[4, 3, 3, 1, 4, 1, 0, 0, 0, 0, 3, 2, 3, 0, 0, ...",207,"[0, 1, 0, 2, 1, 2, 2, 1, 0, 1, 3, 4, 0, 1, 3, ...",61,"[82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 71, 7...","[82, 82, 99, 96, 96, 96, 106, 106, 97, 91, 71,..."

### Strings to lists

In [3]:
def custom_literal_eval(x):
    try:
        return json.loads(x)
    except (json.JSONDecodeError, TypeError):
        return x

In [4]:
ffahc_results1['best_solution'] = ffahc_results1['best_solution'].apply(custom_literal_eval)
ffahc_results1['convergence'] = ffahc_results1['convergence'].apply(custom_literal_eval)

In [5]:
ffahc_results1['best_makespan_4'] = ffahc_results1['convergence'].apply(lambda x: x[9999])
ffahc_results1['best_makespan_5'] = ffahc_results1['convergence'].apply(lambda x: x[99999])
ffahc_results1['best_makespan_250'] = ffahc_results1['convergence'].apply(lambda x: x[249999])
ffahc_results1['best_makespan_500'] = ffahc_results1['convergence'].apply(lambda x: x[499999])
ffahc_results1['best_makespan_750'] = ffahc_results1['convergence'].apply(lambda x: x[749999])

## FFA HillClimber run 2

In [6]:
ffahc_results2 = pd.read_csv('ffahc_1000000_evals_greedy2.csv', sep=';', index_col=False)
ffahc_results2.head()

,instance_id,least_frequent_solution,least_frequent_makespan,best_solution,best_makespan,convergence,search_progression
0,0,"[0, 4, 0, 4, 4, 3, 3, 1, 1, 1, 0, 0, 2, 2, 3, ...",95,"[2, 1, 1, 4, 1, 0, 3, 2, 3, 4, 2, 1, 3, 2, 0, ...",48,"[61, 61, 61, 60, 60, 60, 55, 55, 55, 55, 55, 5...","[61, 61, 61, 60, 71, 71, 55, 59, 69, 76, 76, 7..."
1,1,"[0, 1, 1, 1, 1, 3, 3, 3, 3, 2, 0, 0, 0, 0, 4, ...",156,"[1, 3, 2, 1, 2, 4, 0, 3, 4, 2, 1, 0, 3, 2, 3, ...",48,"[73, 73, 65, 63, 63, 63, 63, 63, 63, 63, 63, 6...","[73, 73, 65, 63, 63, 64, 64, 74, 76, 76, 76, 7..."
2,2,"[1, 1, 4, 2, 0, 4, 4, 4, 1, 4, 4, 2, 2, 4, 2, ...",150,"[2, 1, 0, 3, 4, 1, 4, 3, 0, 1, 3, 0, 0, 2, 4, ...",52,"[58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 5...","[58, 73, 73, 73, 74, 68, 72, 72, 81, 99, 99, 9..."
3,3,"[1, 2, 0, 0, 2, 3, 3, 4, 4, 4, 0, 4, 3, 3, 1, ...",185,"[2, 4, 4, 1, 2, 3, 3, 4, 2, 2, 0, 1, 2, 1, 1, ...",54,"[68, 68, 68, 68, 68, 68, 68, 68, 68, 66, 66, 6...","[68, 75, 75, 75, 85, 85, 85, 85, 93, 66, 66, 6..."
4,4,"[3, 0, 3, 4, 1, 3, 4, 2, 1, 1, 3, 2, 0, 4, 4, ...",161,"[1, 0, 3, 2, 1, 0, 3, 2, 3, 0, 1, 4, 2, 1, 2, ...",61,"[110, 104, 104, 93, 93, 91, 91, 91, 91, 91, 91...","[110, 104, 107, 93, 93, 91, 91, 103, 103, 103,..."

In [7]:
ffahc_results2['best_solution'] = ffahc_results2['best_solution'].apply(custom_literal_eval)
ffahc_results2['convergence'] = ffahc_results2['convergence'].apply(custom_literal_eval)

In [8]:
ffahc_results2['best_makespan_4'] = ffahc_results2['convergence'].apply(lambda x: x[9999])
ffahc_results2['best_makespan_5'] = ffahc_results2['convergence'].apply(lambda x: x[99999])
ffahc_results2['best_makespan_250'] = ffahc_results2['convergence'].apply(lambda x: x[249999])
ffahc_results2['best_makespan_500'] = ffahc_results2['convergence'].apply(lambda x: x[499999])
ffahc_results2['best_makespan_750'] = ffahc_results2['convergence'].apply(lambda x: x[749999])

## FFA HillClimber run 3

In [9]:
ffahc_results3 = pd.read_csv('ffahc_1000000_evals_greedy3.csv', sep=';', index_col=False)
ffahc_results3.head()

,instance_id,least_frequent_solution,least_frequent_makespan,best_solution,best_makespan,convergence,search_progression
0,0,"[1, 3, 4, 3, 4, 0, 4, 1, 3, 2, 1, 3, 2, 3, 1, ...",61,"[2, 4, 1, 3, 1, 1, 3, 2, 3, 1, 4, 2, 4, 0, 0, ...",48,"[66, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 6...","[66, 60, 60, 60, 67, 67, 67, 69, 69, 69, 77, 7..."
1,1,"[3, 2, 2, 2, 3, 1, 0, 0, 1, 4, 1, 0, 4, 4, 1, ...",57,"[1, 3, 1, 4, 2, 3, 2, 4, 2, 4, 1, 1, 0, 4, 1, ...",48,"[82, 82, 82, 82, 71, 71, 71, 64, 64, 64, 64, 6...","[82, 84, 88, 90, 71, 80, 80, 64, 67, 67, 67, 6..."
2,2,"[4, 2, 3, 4, 3, 3, 1, 4, 0, 2, 4, 1, 0, 4, 1, ...",82,"[4, 3, 1, 0, 2, 3, 2, 1, 1, 0, 0, 4, 0, 4, 3, ...",52,"[91, 88, 88, 88, 76, 76, 76, 76, 76, 76, 76, 7...","[91, 88, 88, 103, 76, 96, 96, 96, 98, 98, 121,..."
3,3,"[0, 0, 3, 0, 0, 4, 0, 1, 2, 2, 3, 2, 0, 3, 3, ...",147,"[1, 3, 4, 2, 4, 0, 3, 2, 3, 2, 4, 1, 2, 1, 1, ...",54,"[94, 87, 87, 87, 87, 87, 87, 87, 87, 79, 79, 7...","[94, 87, 98, 98, 98, 97, 97, 97, 87, 79, 81, 8..."
4,4,"[3, 3, 4, 0, 4, 4, 1, 1, 2, 3, 1, 3, 1, 3, 2, ...",135,"[1, 4, 0, 0, 2, 3, 1, 3, 2, 3, 2, 2, 3, 1, 4, ...",61,"[98, 98, 98, 98, 88, 88, 88, 88, 88, 88, 88, 8...","[98, 98, 98, 98, 88, 97, 97, 102, 100, 106, 93..."

In [10]:
ffahc_results3['best_solution'] = ffahc_results3['best_solution'].apply(custom_literal_eval)
ffahc_results3['convergence'] = ffahc_results3['convergence'].apply(custom_literal_eval)

In [11]:
ffahc_results3['best_makespan_4'] = ffahc_results3['convergence'].apply(lambda x: x[9999])
ffahc_results3['best_makespan_5'] = ffahc_results3['convergence'].apply(lambda x: x[99999])
ffahc_results3['best_makespan_250'] = ffahc_results3['convergence'].apply(lambda x: x[249999])
ffahc_results3['best_makespan_500'] = ffahc_results3['convergence'].apply(lambda x: x[499999])
ffahc_results3['best_makespan_750'] = ffahc_results3['convergence'].apply(lambda x: x[749999])

## Save all makespans to dataset

In [13]:
best1 = ffahc_results1['best_makespan']
best2 = ffahc_results2['best_makespan']
best3 = ffahc_results1['best_makespan']

In [14]:
instances = ffahc_results1['instance_id']

In [15]:
best_makespans_all = pd.DataFrame({'instance_id': instances,
                                     'run1_4': ffahc_results1['best_makespan_4'],
                                     'run2_4': ffahc_results2['best_makespan_4'],
                                     'run3_4': ffahc_results1['best_makespan_4'],
                                     'run1_5': ffahc_results1['best_makespan_5'],
                                     'run2_5': ffahc_results2['best_makespan_5'],
                                     'run3_5': ffahc_results3['best_makespan_5'],
                                     'run1_250': ffahc_results1['best_makespan_250'],
                                     'run2_250': ffahc_results2['best_makespan_250'],
                                     'run3_250': ffahc_results3['best_makespan_250'],
                                     'run1_500': ffahc_results1['best_makespan_500'],
                                     'run2_500': ffahc_results2['best_makespan_500'],
                                     'run3_500': ffahc_results3['best_makespan_500'],
                                     'run1_750': ffahc_results1['best_makespan_750'],
                                     'run2_750': ffahc_results2['best_makespan_750'],
                                     'run3_750': ffahc_results3['best_makespan_750'],
                                     'run1_best': best1,
                                     'run2_best': best2,
                                     'run3_best': best3})

In [16]:
best_makespans_all.to_csv('ffahc_all_runs_makespans_greedy.csv', index=False)

## FFA HC convergence dataset

In [11]:
#selected ids based with largest makespan differences within the instance makespans
instances_ids = [0, 37, 62, 293, 335, 363, 396, 419]

In [12]:
ffa1_convergence = []
ffa2_convergence = []
ffa3_convergence = []
for i in instances_ids:
    print(i)
    ffa1 = ffahc_results1['convergence'][i]
    ffa2 = ffahc_results2['convergence'][i]
    ffa3 = ffahc_results3['convergence'][i]
    ffa1_convergence.append(ffa1)
    print(ffa1_convergence)
    ffa2_convergence.append(ffa2)
    print(ffa2_convergence)
    ffa3_convergence.append(ffa3)
    print(ffa3_convergence)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [13]:
ffahc_convergence_df = pd.DataFrame({'instance_id': instances_ids,
                                     'ffahc1_convergence': ffa1_convergence,
                                     'ffahc2_convergence': ffa2_convergence,
                                     'ffahc3_convergence': ffa3_convergence})

In [14]:
ffahc_convergence_df

,instance_id,ffahc1_convergence,ffahc2_convergence,ffahc3_convergence
0,0,"[64, 64, 62, 62, 62, 62, 62, 62, 62, 62, 55, 5...","[61, 61, 61, 60, 60, 60, 55, 55, 55, 55, 55, 5...","[66, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 6..."
1,37,"[289, 289, 277, 272, 272, 271, 271, 271, 271, ...","[259, 259, 259, 259, 259, 259, 259, 259, 259, ...","[259, 259, 259, 259, 259, 255, 255, 255, 255, ..."
2,62,"[411, 411, 411, 411, 398, 363, 363, 355, 355, ...","[341, 333, 333, 333, 333, 333, 333, 333, 333, ...","[345, 345, 345, 345, 345, 345, 345, 345, 345, ..."
3,293,"[805, 805, 805, 805, 805, 805, 805, 805, 805, ...","[857, 857, 857, 857, 857, 857, 857, 857, 857, ...","[858, 858, 858, 858, 858, 858, 858, 858, 858, ..."
4,335,"[953, 953, 944, 942, 942, 940, 939, 939, 939, ...","[1000, 1000, 1000, 1000, 1000, 1000, 1000, 100...","[959, 959, 950, 950, 950, 950, 950, 950, 950, ..."
5,363,"[855, 855, 846, 824, 822, 822, 822, 822, 822, ...","[765, 765, 765, 765, 765, 765, 765, 765, 765, ...","[786, 786, 786, 786, 786, 786, 786, 786, 786, ..."
6,396,"[1081, 1081, 1081, 1081, 1081, 1081, 1074, 107...","[1097, 1097, 1097, 1097, 1097, 1097, 1097, 109...","[1084, 1084, 1084, 1084, 1084, 1084, 1084, 108..."
7,419,"[1067, 1067, 1067, 1067, 1067, 1067, 1067, 106...","[1073, 1073, 1073, 1073, 1073, 1073, 1073, 107...","[1136, 1136, 1119, 1119, 1117, 1117, 1117, 111..."

In [15]:
ffahc_convergence_df.to_csv('ffahc_runs_combined3_conv_only_greedy.csv', index=False)

## FFA HC Results combined

In [15]:
ffahc_instance_id = ffahc_results1['instance_id']
print(ffahc_instance_id)

0        0
1        1
2        2
3        3
4        4
      ...
415    415
416    416
417    417
418    418
419    419
Name: instance_id, Length: 420, dtype: int64

In [16]:
num_runs = 3

In [17]:
ffahc_best_makespan_4 = (ffahc_results1['best_makespan_4'] + ffahc_results2['best_makespan_4'] + 
                      ffahc_results3['best_makespan_4']) / num_runs
print(ffahc_best_makespan_4)

0       48.000000
1       48.000000
2       52.000000
3       56.666667
4       61.666667
          ...
415    959.666667
416    927.333333
417    930.666667
418    945.666667
419    950.333333
Name: best_makespan_4, Length: 420, dtype: float64

In [18]:
ffahc_best_makespan_5 = (ffahc_results1['best_makespan_5'] + ffahc_results2['best_makespan_5'] + 
                      ffahc_results3['best_makespan_5']) / num_runs
print(ffahc_best_makespan_5)

0       48.000000
1       48.000000
2       52.000000
3       54.000000
4       61.000000
          ...
415    851.000000
416    841.333333
417    841.000000
418    854.000000
419    863.000000
Name: best_makespan_5, Length: 420, dtype: float64

In [19]:
ffahc_best_makespan_250 = (ffahc_results1['best_makespan_250'] + ffahc_results2['best_makespan_250'] + 
                      ffahc_results3['best_makespan_250']) / num_runs
print(ffahc_best_makespan_250)

0       48.000000
1       48.000000
2       52.000000
3       54.000000
4       61.000000
          ...
415    824.333333
416    809.666667
417    808.000000
418    841.666667
419    830.333333
Name: best_makespan_250, Length: 420, dtype: float64

In [20]:
ffahc_best_makespan_500 = (ffahc_results1['best_makespan_500'] + ffahc_results2['best_makespan_500'] + 
                      ffahc_results3['best_makespan_500']) / num_runs
print(ffahc_best_makespan_500)

0       48.000000
1       48.000000
2       52.000000
3       54.000000
4       61.000000
          ...
415    797.666667
416    787.666667
417    786.333333
418    795.333333
419    805.333333
Name: best_makespan_500, Length: 420, dtype: float64

In [21]:
ffahc_best_makespan_750 = (ffahc_results1['best_makespan_750'] + ffahc_results2['best_makespan_750'] + 
                      ffahc_results3['best_makespan_750']) / num_runs
print(ffahc_best_makespan_750)

0       48.000000
1       48.000000
2       52.000000
3       54.000000
4       61.000000
          ...
415    793.000000
416    766.666667
417    767.333333
418    795.333333
419    799.000000
Name: best_makespan_750, Length: 420, dtype: float64

In [22]:
ffahc_best_makespan_6 = (ffahc_results1['best_makespan'] + ffahc_results2['best_makespan']+ 
                         ffahc_results3['best_makespan']) / num_runs
print(ffahc_best_makespan_6)

0       48.0
1       48.0
2       52.0
3       54.0
4       61.0
       ...
415    782.0
416    747.0
417    763.0
418    778.0
419    783.0
Name: best_makespan, Length: 420, dtype: float64

In [23]:
ffahc_random_initial_makespan1 = pd.Series([i[0] for i in ffahc_results1['convergence']])
ffahc_random_initial_makespan2 = pd.Series([i[0] for i in ffahc_results2['convergence']])
ffahc_random_initial_makespan3 = pd.Series([i[0] for i in ffahc_results3['convergence']])

ffahc_random_initial_makespan = (ffahc_random_initial_makespan1 + ffahc_random_initial_makespan2 + ffahc_random_initial_makespan3) / num_runs
print(ffahc_random_initial_makespan)

0        63.666667
1        73.000000
2        76.333333
3        75.666667
4        96.666667
          ...
415    1138.333333
416    1094.333333
417    1073.000000
418    1126.333333
419    1092.000000
Length: 420, dtype: float64

In [24]:
ffahc_runs_combined = pd.DataFrame({'instance_id': ffahc_instance_id, 
                                 'random_initial_makespan': ffahc_random_initial_makespan, 
                                 'best_makespan_4': ffahc_best_makespan_4,
                                 'best_makespan_5': ffahc_best_makespan_5,
                                 'best_makespan_250': ffahc_best_makespan_250,
                                 'best_makespan_500': ffahc_best_makespan_500,
                                 'best_makespan_750': ffahc_best_makespan_750,
                                 'best_makespan_6': ffahc_best_makespan_6, })
ffahc_runs_combined.head()

,instance_id,random_initial_makespan,best_makespan_4,best_makespan_5,best_makespan_250,best_makespan_500,best_makespan_750,best_makespan_6
0,0,63.666667,48.000000,48.0,48.0,48.0,48.0,48.0
1,1,73.000000,48.000000,48.0,48.0,48.0,48.0,48.0
2,2,76.333333,52.000000,52.0,52.0,52.0,52.0,52.0
3,3,75.666667,56.666667,54.0,54.0,54.0,54.0,54.0
4,4,96.666667,61.666667,61.0,61.0,61.0,61.0,61.0

In [25]:
ffahc_runs_combined.to_csv('ffahc_runs_combined3_incl_conv_greedy.csv', index=False)